<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './style.css' %}">
</head>
<body>
    <h1>Here Is My FrontEnd Skills :</h1>
    <div>
        <h2>The Skills Are :</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>ReactJs</li>
            <li>ThreeJs</li>
            <li>npm (Node Package Manager)</li>
            <li>Fetching and Integrating APIs (Aplication Programming Interface)</li>
            <li>Git & GitHub</li>
        </ul>
    </div>
    <div>
        <h2>What I Do With Them :</h2>
        <p>
            okey, in simple words, i build the structure of web page using HTML and style it using CSS then add the functionality using JavaScript.
        </p>
        <p>
            When i wanna improve the functionality of the website, i use node packages and install them using npm, 
            use JavaScript libraries like ReactJs, Or If i want to add 3D content to it use ThreeJs.
        </p>
        <p>
            Also when i want to take the webSite to another level, i integrate and fetch APIs to it.
        </p>
    </div>
    <div>
        <h3>Of course i also build the backEnd side, take a look <a href="/skills-backend/">here</a></h3>
    </div>
</body>
</html>
