<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackEnd</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './style.css' %}">
</head>
<body>
    <h1>Here Is My BakEnd And Other Skills :</h1>
    <div>
        <h2>The Skills Are :</h2>
        <ul>
            <li>Python</li>
            <li>Sqlite3</li>
            <li>Django</li>
            <li>Django RestFramework</li>
        </ul>
    </div>
    <div>
        <h2>What I Do With Them :</h2>
        <p>
            I initialize the enviroment to serv the website, create database's tables and migrate them, <br> and put the route of each page of the website and control thair rendering. 
        </p>
        <p>
            Also I create APIs using Django RestFramework .
        </p>
    </div>
    <div>
        <h2>The Other Skills :</h2>
        <ul>
            <li>Git & GitHub</li>
            <li>C++</li>
            <li>numpy</li>
            <li>pandas</li>
            <li>matplotlib</li>
            <li>selenium</li>
        </ul>
    </div>
</body>
</html>
